

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-fondo);
    box-shadow: var(--color-morado) 0 0 10px;
    padding: 15px 80px 15px 60px;
}

.contenedor-logo img{
    height: 60px;
}

.container-navegador{
    display: flex;
    gap: 40px;
    font-size: 16pt;
    font-weight: 600;
    text-decoration: none;
    margin: 0 15px;
}
.container-navegador a{
    text-decoration: none;
    color: var(--color-texto);
}

.container-navegador a:hover{
    color: var(--color-rosa);
}
.container-navegador a.activo {
    color: var(--color-rosa);
  }