.container-imagen {
    content: "";
    display: block;
    width: 100%;
    padding: 70px 0 40px;
    height: 100%;
    background: url('../assets/img/YDRAY-Jessi_1.png') no-repeat center center/cover;

}

.container-login{
    background: rgba(6, 16, 35, 0.7);
    padding: 30px;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--color-morado);
    backdrop-filter: blur(10px);
}

.container-sesion > form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.container-sesion > form > label {
    font-size: 14pt;
    letter-spacing: 0.7px;
    text-align: center;
}

.container-sesion > form > input {
    margin: auto;
    width: 90%;
    padding: 10px;
    border: 1px solid var(--color-morado);
    background: var(--color-campo-formulario);
    color: var(--color-texto);
    outline: none;
    border-radius: 5px;
}

.container-sesion > form > input::placeholder {
    color: var(--color-texto);
}

.container-sesion > form > input:focus {
    background-color: var(--color-morado);
    color: var(--color-texto);
}

.btn-sesion{
    background: var(--color-fondo);
    border: 2px solid var(--color-morado);
    padding: 7px 25px;
    font-family: genos, sans-serif;
    letter-spacing: 0.7px;
    font-size: 14pt;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-texto);
    cursor: pointer;
    border-radius: 5px;
}

.btn-sesion:hover{
    border: 2px solid var(--color-morado);
    background: var(--color-morado);
    color: var(--color-texto);
}

.container-enlaces-sesion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.container-enlaces-sesion a{
    color: var(--color-texto);
    text-decoration: none;
    font-size: 14pt;
    font-weight: 700;
}

.container-enlaces-sesion a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .container-login{
        width: 90%;
    }
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
}